

@if (Request.IsAuthenticated)
{
    <ul class="nav pull-right">
        <li>
            <a href="@Url.Action("Index","Manager")">Connecté en tant que <b>@User.Identity.Name</b></a>

        </li>
        <li>
            @Html.ActionLink("Se déconnecter", "LogOff", "Account")
        </li>
    </ul>
}

