@{
    ViewBag.Title = "Index";
}

<div class="row">

        <div class="span12"><h1>Votre panel d'ajout</h1>
</div>
    </div>


    <div class="row" style="text-align:center; margin-top:20px;">

        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Ajouter une matière</a>
        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Ajouter une salle</a>
        <a href="@Url.Action("Index","AddEnseignant")" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Ajouter un enseignant</a>

    </div>

<div id="dynamic" class="row">

</div>

