@model Plannr.Models.LoginModel

@{
    ViewBag.Title = "Connexion";
}
<div class="span4 offset5">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
</div>


<div class="span4 offset3">

    @Html.Partial("_LoginFormPartial", Model)
</div>


