@model Plannr.Models.LoginModel

@{
    ViewBag.Title = "Connexion";
}
<div id="content-header">
    <h1>Vous devez vous connecter pour accéder à cette ressource.</h1>
</div>
<div id="breadcrumb">
    <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>Home</a>
    <a href="#">Connexion</a>

</div>
<div class="container-fluid">
    <div class="row-fluid">

        @Html.Partial("_LoginFormPartial", Model)
    </div>
</div>


