@model IEnumerable<Plannr.Models.DemandeReservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>


@foreach (var item in Model) {
    <tr>
       <td>
           @item.Enseignement.Enseignant.UserName
       </td>
        <td>
            @item.Enseignement.Libelle
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
   
        </td>
    </tr>
}

</table>
