
@model IEnumerable<Plannr.Models.DemandeReservation>

@{
    ViewBag.Title = "Index";
}
<div class="row">

@Html.Partial("_BookList", Model)

  <center>
   <a href="@Url.Action("Create", "Book")" class="btn btn-large btn-primary"><i class="icon-pencil icon-white"></i> Faire une demande de réservation</a>
</center>
    </div>