@model IEnumerable<Plannr.Models.DemandeReservation>

@{
    ViewBag.Title = "Index";
}

@ViewBag.monJson
<div class="row" id="demandesContainer">

    @Html.Partial("_BookList", Model)

    <center>
   <a href="@Url.Action("Create", "Book")" class="btn btn-large btn-primary" id="makeDemand"><i class="icon-pencil icon-white"></i> Faire une demande de réservation</a>
</center>
</div>

<div class="row" id="editContainer" style="display:none;">


</div>

<script type="text/javascript">
    $(function () {
        var editLoaded = false;

        function showEdit() {
            $('#demandesContainer').slideUp()
            $('#editContainer').fadeIn()
        }

        function showDemandes() {
            $('#editContainer').fadeOut("fast",function() {
                $('#demandesContainer').fadeIn()
            })
           
        }

        $('#cancelEdit').live('click',function(e) {

            showDemandes()

            e.preventDefault()
            return false
        })

        $('#makeDemand').bind('click',function(e){
            if (!editLoaded) {
                $.get("@Url.Action("Create","Book")", function (data) {

                    $('#editContainer').html(data)
                    showEdit()
                    editLoaded = true
                })

            } else {
                showEdit()
            }
            e.preventDefault()
            e.stopPropagation()
            return false
        })

        $('#CreateDemandesForm').live('submit',function(e) {


            console.log('bleh');
            var newDemande = new Demande({ Enseignement: { 'Id': $('#Enseignement_Id').val() } })
            newDemande.save()
 

            e.preventDefault()
            return false
        })

    })
    </script>