@if (ViewBag.demandesAVerifCount > 0) {
                        <li>
                            <a href="@Url.Action("Index","Reservations")"><i class="icon-user"></i>Vous avez @ViewBag.demandesAVerifCount demandes de réservations en cours</a>
                        </li>
}