@foreach (var item in ViewBag.unseen)
{
    <li>
        <a href="#"><i class="icon-user"></i> Votre demande de réservation pour
                    l'enseignement <b>@item.ReservationAssociee.Enseignement_Libelle a été assigné!</b></a>
    </li>
    
}