@{
    ViewBag.Title = "Index";
}

<div class="row">

        <div class="span12"><h1>Votre panel de gestion</h1>

            <p>Bienvenue login sur votre panel de gestion.</p></div>
    </div>
    <div class="row">
        <div class="alert alert-block alert-info">
            <ul>
                <li>
                    Votre demande de réservation pour l'enseignement XX a été assigné! <a href="#">Voir la
                    réservation</a>
                </li>
                <li>
                    Votre demande de réservation pour l'enseignement <b>Java IG5</b> a été assigné!
                </li>
            </ul>
            <br>

            <p><a href="#" class="btn btn-small btn-supersmall">Masquer toutes les notifications</a></p>
        </div>
    </div>

    <div class="row" style="text-align:center; margin-top:20px;">

        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-list"></i> Mes réservations</a>
        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-briefcase"></i> Mon emploi du temps</a>
        <a href="#" class="btn btn-large btn-superlarge"><i class="icon-wrench"></i> Mon compte</a>

    </div>
