@{
    ViewBag.Title = "ChangeData";
}

<div id ="content-header">
<h1>Gestion de mon compte</h1>
</div>
<div id="breadcrumb">
				<a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
				<a href="#" class="tip-bottom"> Mon compte</a>
</div>
<div class="alert alert-info">
							<button class="close" data-dismiss="alert">×</button>
							Vos changements ont bien été pris en compte !
						</div>
 <div class="container-fluid">
				
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>Mon nom d'utilisateur</h5>
							</div>
							<div class="widget-content nopadding">
									@using (Html.BeginForm("ChangeUserName", "Option", FormMethod.Post, new { @class = "form-horizontal", @id = "EditUsernamePerso" }))
                                 {
                                     @Html.ValidationSummary(true)
									<div class="control-group">
										<label class="control-label">Nouveau nom d'utilisateur</label>
										<div class="controls">
											<input type="text" name="min" id="min">
										</div>
									</div>


									<div class="form-actions">
										<input type="submit" value="Valider" class="btn btn-primary">
									</div>
                                  }
							</div>
						</div>
					</div>	
					<div class="row-fluid">
						<div class="span12">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon">
										<i class="icon-align-justify"></i>									
									</span>
									<h5>Mon mot de passe</h5>
								</div>
								<div class="widget-content nopadding">
										@using (Html.BeginForm("ChangePwd", "Option", FormMethod.Post, new { @class = "form-horizontal", @id = "EditPassword" }))
                                 {
                                     @Html.ValidationSummary(true)
										<div class="control-group">
											<label class="control-label">Nouveau mot de passe</label>
											<div class="controls">
												<input type="password" name="pwd" id="pwd">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Confirmer</label>
											<div class="controls">
												<input type="password" name="pwd2" id="pwd2">
											</div>
										</div>
										<div class="form-actions">
											<input type="submit" value="Valider" class="btn btn-primary">
										</div>
          }
								</div>
							</div>
						</div>			
					</div>
				</div>