@{
    ViewBag.Title = "Page d'accueil";
    ViewBag.ReturnUrl = "caca";
}

<div class="hero-unit">
    <center><h1>Bienvenue sur Plannr!</h1><p>Gestion de réservation des salles</p></center>
</div>
<div class="row">
    <div class="span6">
        @Html.Partial("_LoginFormPartial")
    </div>


    <div class="span6">
        <form class="form-horizontal">
            <legend>Consultation libre</legend>
            <select>
                <option>Bla</option>
                <option>Bla2</option>
        </form>
    </div>

</div>
