@model Plannr.Models.Batiment

@{
    ViewBag.Title = "Delete";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Batiment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="DeleteBatiment" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
