@model Plannr.Models.Batiment

@{
    ViewBag.Title = "Details";
}

<<<<<<< HEAD
=======

>>>>>>> t4
<h2>Details</h2>

<fieldset>
    <legend>Batiment</legend>
   

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
